! Scrollbar or nobar lol
URxvt.scrollBar: false

! Adds padding around terminal text
URxvt.internalBorder: 4

! Font
URxvt*.font: -xos4-terminus-medium-r-normal--12-120-72-72-c-60-iso8859-1
URxvt*.boldfont: -xos4-terminus-bold-r-normal--12-120-72-72-c-60-iso8859-1 

! Colors Dark then Light or Left then Right if Termsexy
URxvt*background:#1d1d21
URxvt*foreground:#a52a2a

! Other colors
! blacks
URxvt*color0:1d1d21
URxvt*color8:1d1d21

! reds
URxvt*color1:#a52a2a
URxvt*color9:#a52a2a

! greens
URxvt*color2:#339438
URxvt*color10:#339438

! yellows
URxvt*color3:#c36423
URxvt*color11:#c36423

! blues
URxvt*color4:#195cc8
URxvt*color12:#195cc8

! magentas
URxvt*color5:#792695
URxvt*color13:#792695

! cyans
URxvt*color6:#18a7b6
URxvt*color14:#18a7b6

! whites
URxvt*color7:#bebebe
URxvt*color15:#bebebe


! Transparency
URxvt*.transparent: false
! URxvt*.shading: 0 to 99 darkens, 101 to 200 lightens
URxvt*.shading: 25

! Clickable Links
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/chromium
URxvt.matcher.button: 1


